# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
dist/

# Installer logs
ghostscript/ logs/
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache/
pytest_cache/
*.cover
*.log
*.out

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# mypy
.mypy_cache/
.dmypy.json

# Pylint
.pylint.d/

# IDEs and editors
.idea/
.vscode/
*.swp

# MacOS
.DS_Store

# Logs
*.log

# FastAPI generated static files
static/
uploads/
